* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f9f9f9;
}

.carousel-item img {
  height: 350px;
  object-fit: cover;
}

.card {
  border: none;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-weight: bold;
}

.card-body {
  text-align: center;
}

.container h2 {
  margin-bottom: 20px;
  color: #007B5E;
}

.img-fluid {
  margin-bottom: 15px;
  border-radius: 8px;
  transition: transform 0.3s;
}

.img-fluid:hover {
  transform: scale(1.1);
}


.quasealgo {
  background-color: #e0e0e0;
  border-top: 1px solid #ccc;
  padding: 25px;
}

.acordo {
  max-width: 1200px;
  margin: 0 auto;
}

.fantasia {
  display: flex;
  justify-content: space-between;
}

.menu, .hello, .culpados {
  flex: 1;
  margin: 0 10px;
}

.menu ul, .hello ul {
  list-style-type: none;
}

.menu li, .hello li {
  margin-bottom: 10px;
  color: #333;
}

.hello h3, .culpados h3 {
  margin-bottom: 10px;
  color: #555;
  font-weight: normal;
}

.logos {
  display: flex;
  align-items: center; 
}

.logos img {
  width: 80px;
  margin-right: 10px; 
}

nav {
  background-color: transparent;
  display: flex;
  justify-content: initial;
}
ul{
  display: flex;
}
nav li {
  display: inline;
}

nav li a {
  display: inline;
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 22px
}

nav li a:hover {
  background: linear-gradient(198deg, #689a61 1%, #2d5e24);
}